.Avani img{
  height: 125px;
  width: 100px;
}

.Avani {
  background-color: orchid;
  text-align: center;
  margin: 10px;
  padding: 10px;
  height: 300px;
  width: 200px;
}

.Dog img{
  height: 100px;
  width: 125px;
}

.Dog {
  background-color: orchid;
  text-align: center;
  margin: 10px;
  padding: 10px;
  height: 300px;
  width: 200px;
}

.Profile-card-container {
  display: flex;
  gap: 10px;
}

.About h1, p {
  margin: 10px;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
  background-color: pink;
}

.About p, h1 {
  margin: 10px;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
  background-color: pink;
}

.Navigation nav, ul, li {
  display: flex;
  gap: 10px;
  margin: 10px;
  padding: 10px;
  background-color: gold;
}

