.Profile-card-container {
  display: flex;
  gap: 10px;
}

.About h1, p {
  margin: 10px;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
  background-color: orchid;
}

.About p, h1 {
  margin: 10px;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
  background-color: orchid;
}

.Navigation nav, ul, li {
  display: flex;
  gap: 10px;
  margin: 10px;
  padding: 10px;
  background-color: gold;
}

.top img{
  height: 200px;
  width: 200px;
}

.grid {
  display:flex;
  gap:10px;
}

.filter-container {
  margin: 10px;
  padding: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: coral;
}

#changeTheme {
  background-color: whitesmoke;
  width: 150px;
  height: 50px;
}

.light-theme {
  background-color: white;
  color: black;
}

.dark-theme {
  background-color: black;
  color: white;
}
